<?php

function ConnectDB() {
	$link = mysqli_connect('localhost', 'user-name', 'user-password','schema');
	return $link;
}

function QueryDB($link,$query) {
	return mysqli_query($link,$query);
}

function CloseDB($link) {
	mysqli_close($link);
}

?>
